.messenger {
    height: calc(100vh-70px);
    display: flex;
    margin-top: -10px;
    padding-top: 60px;
}

.buttonsGroup {
    margin-top: 20px;
    padding-top: 10px;
}

.chatMenu {
    flex: 3.5;
}

.conversationList {
    overflow-y: scroll;
    height: 75%;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
}

.chatBox {
    flex: 8.5;
    padding-top: 20px;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.noConversationText {
    color: gray;
    position: absolute;
    top: 10%;
    font-size: 40px;
    cursor: default;
}

.chatBoxName {
    font-size: 20px;
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatBoxInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatBoxSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: teal;
    color: white;
}

.chatOnline {
    flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
    padding: 10px;
    height: 90vh;
}

.chatOnlineFriend {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.chatOnlineImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.chatOnlineImgContainer {
    position: relative;
    margin-right: 10px;
}

.chatOnlineBadge {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    top: 1px;
    right: 1px;
}