<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="overload.css" />
</head>
 <div class="titlerow"> 
    <center>
        <span>UNIVERSITY OF SANTO TOMAS</span><br>
        <span>Espa&#241;a, Manila</span>

        <br>
        <br>

        <p>REQUEST FOR STUDY OVERLOAD</p>
        <p>(Applicable to graduating students only - PPS No. 1012 Student Handbook)</p>
    </center>
</div>
    <div class="firstrow">
        <div>NAME OF STUDENT:</div>
        <div>STUDENT NO.</div>
    </div>

    <div class="secondrow">
        <div>Program:</div>
        <div>CURRICULUM YEAR:</div>
        <div>TERM:</div>

    </div>

    <div class="tablerow">

        <table>
            <tbody>
                <tr>
                    <td>Full-Time Student</td>
                    <td></td>
                    <td>Total Number of Units Earned</td>
                    <td></td>
                    <td>Does the program require Bar or Board Examination?</td>
                    <td></td>
                </tr>
                <tr>
                    <td>No. of "INCOMPLETE" grades</td>
                    <td></td>
                    <td>Total Number of Units Required for the Program</td>
                    <td></td>
                    <td>Is there a violation of courses prerequisites?</td>
                    <td></td>
                </tr>
                <tr>
                    <td>No. of Special Terms Attended</td>
                    <td></td>
                    <td>Normal Load (No. of Units) for the current Term</td>
                    <td></td>
                    <td>Total Number of Units to be Taken including Overload</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Number of Overload Units Already Taken</td>
                    <td></td>
                    <td>Working Student</td>
                    <td></td>
                    <td>No. of "5s"</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Average Rating</td>
                    <td colspan="5"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="loadrow">
        <div>LOAD REQUESTED FOR APPROVAL:</div>
    </div>

    <div class="inforow">
        <table>
            <tbody>
                <tr >
                    <td>COURSES</td>
                    <td>UNITS</td>
                    <td>TIME</td>
                    <td>DAYS</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="specialrow">
        <div>SPECIAL TERM LOAD (If special term graduate):</div>
    </div>

    <div class="specialinfo">
        <table>
            <tbody>
                <tr>
                    <td>COURSES</td>
                    <td>UNITS</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tentativerow">
        TENTATIVE DATE OF GRADUATION:
    </div>

    <div class="signaturerow">
        <div></div>
        <div>
            <table class="sig">
                <tr>
                    <td>_______________________________</td>
                </tr>
                <tr>
                    <td>Signature of Student</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="reccomendrow">
        RECOMMENDING APPROVAL:
    </div>
    <div class="deanrow">
        <div >Dean</div>
        <div></div>
        <div>Approved</div>
        <div>Disapproved</div>
    </div>
    <div class="deanrow">
        <div></div>
        <div></div>
        <div>Total Units</div>
        <div></div>
    </div>

    <div class="daterow">
        <div>Date:</div>
        <div >Registrar</div>
        
    </div>


    </body>
</html>