.App {
    font-family: MuktaMalar;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titles {
    background-color: #9c0b0b;
    text-align: center;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 0px;
    font-family: MuktaMalar;
    width: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}

.links {
    text-decoration: none;
    font-size: medium;
    color: black;
}

.solid {
    border-top: 3px solid #bbb;
}

.green-button {
    border-radius: 105px;
    margin-left: auto;
    text-align: center;
    color: black;
}

.green-button-children {
    padding: 5px;
    color: black;
    text-align: center;
}

.green-button-children:active {
    background-color: #4c7758;
    text-align: center;
    color: white;
}


/* announcements */

#rectangle {
    /* gran changed this from 22 > 18 */
    background-color: #9c0b0b;
    text-align: center;
    color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-right: 0px;
    font-family: MuktaMalar;
    width: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}

#header_border {
    border-bottom: 3px solid #9c0b0b;
}


/* editor */

.ql-editor {
    min-height: 330px;
}